.opinion_show p{
  margin:20px 10px;
  font-size:16px;
}
.opinion_show p span:nth-child(1){
  display: inline-block;
  width:140px;
  text-align: right;
}
.opinion_show .ant-input{
  width:50%!important;
}
.upTitle {
	text-align: center;
	font-size:16px;
}
.zidong{
	display: inline-block;
	font-size:18px;
	color:#000;
	z-index: 15;
	position:absolute;
	top:50;
	right:0;
}
.active{
	border-bottom: 2px solid #108ee9;
	height:40px;
	line-height:40px;
	color:#108ee9;
}
.fp {
	height:40px;
	line-height:40px;
}
.upImg {
	width: 220px!important;
	
	margin-right: 20px;
    margin-top: 20px;
}
.selImg{
	width: 220px!important;
	
	margin-right: 20px;
    margin-top: 20px;
	border:2px solid #f00;

}
.selImg img {
	width:100%!important;
	border-radius: 5px;
	cursor: pointer;
}
.upImg img{
	width:100%!important;
	
	border-radius: 5px;
	cursor: pointer;
}
.next{
	text-align: center;
}
.xImg p {
	font-size:14px;
}
.upFile{
	opacity: 1;
	position: relative;
	
}
.upBox{
  width:400px;
  height:50px;
  overflow: hidden;
  position: relative;
}
.upBox input{
  opacity: 0;
  height:40px!important;
  position: absolute;
  z-index: 2;
  cursor: pointer;
}
.upBtn{
	margin-top: 40px;
	text-align: center;
}
.infoSize{
	position: absolute;
  top:10px;
  z-index: 1;
  left:100px;
  border: 0px;
}
.upLoadBtn{
  position: absolute;
  top:0px;
  z-index: 1;
  border: 0px;
 cursor: pointer;
}
.draft{
  background: rgba(255, 153, 0, 1)!important;
  border: 0;
}
.preview{
  background: rgba(51, 204, 255, 1)!important;
  border: 0;
}
.actieImg{
	width:220px;
	height:144px;
}
.crpprt {
	width:220px;
    height:144px;
  
	margin: 0 auto;
	
	
}
.crpprtBox{
	width:80%;
	height:144px;
	background:rgba(0,0,0,0.7);
	margin-top: 80px;
	margin-left:20px;

}

.abtn{
	float:right;
	margin-right: 20px;
}
.bgImg{
	display: block;
	width:220px;
	height:144px;
	line-height: 144px;
	font-size:22px;
	border: 1px dashed #e5e5e5;
	text-align: center;
	border-radius: 4px;
}
.Imgx{
	display: inline-block;
	width:220px;
	height:144px;
	line-height: 144px;
	font-size:22px;
	text-align: center;
	border-radius: 4px;
	margin-right: 10px;
	margin-top:10px;
	cursor: pointer;
}
.tagLabel {
	display: inline-block;
	line-height:32px!important;
}
.alltotal{
	border-top:1px solid #000; 
}
.bons{
	display: inline-block;
	margin-left: 30px;
}
.bons span {
	display: inline-block;
	margin-left: 10px;
	font-size:14px!important;
	font-family: '微软雅黑';
}
.bonsCneter{
	text-align: center;
}
.bonsList{
	/*text-align: center;*/
}
.bonsTitle{
	font-family: '微软雅黑';
	color:#000;
	text-align: center;
}
.bonsContent{
	margin-top:20px; 
	text-align: center;
}
.bonsFooter {
	margin-top:20px; 
	border-top:1px solid #e5e5e5;
	padding-top: 10px;
}
.pre{
	color:rgba(0, 0, 0, 0.35);
}
.previewBtn{
	border:0!important;
}
.marginL{
	margin-left:60px;
}
.editorText{
	font-size:16px;
}
@media only screen and (max-width:1600px){
	.marginL{
		margin-left:28px;
	}
}
@media only screen and (max-width:1366px){
	.marginL{
		margin-left:18px;
	}
}