<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>KG管理系统</title>
  <link rel="stylesheet" href="/index.css" />
  <style>
  	html,body{
  		
  	}
  	.ant-table{
  		font-size:12px!important;
  	}
  </style>
</head>
<body>
  <div id="root"></div>
</body>
</html>
